body{
    background-color: lightcyan;
}

h1{
    color: blueviolet;
    margin-top: 20px;
    font-weight: 600;
    font-family:  Helvetica;
}
#favoriteMovies{
    color: darkorchid;
    font-family: Arial;
    font-style: italic;
}

.container{
    margin: auto;
    overflow: hidden;
    display: inline;
}