body{
    background-color: lightcyan;
}

h1{
    color: blueviolet;
    margin-top: 20px;
    font-weight: 600;
    font-family:  Helvetica;

}
#favoriteMovies{
    color: darkorchid;
    font-family: Arial;
    font-style: italic;
}
a {
    color: #1E7EC8;
    text-decoration: none; 
 }
 
 
 
 a:hover {
    text-decoration: underline; 
 }
.container{
    margin: auto;
    overflow: hidden;
    display: inline;
}